.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: "Lora", serif;
  font-size: 14px;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-clean .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px;
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.article-clean .intro p .by {
  font-style: italic;
}

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-clean .intro img {
  margin-top: 20px;
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width: 768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width: 768px) {
  .article-clean .text h2 {
    font-size: 20px;
  }
}

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}


/***/
.header-blue {
    /*background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
     padding-bottom: 80px; */
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* @media (min-width:768px) {
    .header-blue {
      padding-bottom: 120px;
    }
  } */
  
  .header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  .header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5rem;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color: transparent;
      margin: 0;
    }
  }
  
  .header-blue .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
    color: #fff;
  }
  
  .header-blue .navbar .navbar-toggler {
    outline: none;
    border-color: rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background: none;
  }
  
  .header-blue .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background: none;
    box-shadow: none;
  }
  
  @media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: .7rem;
      padding-right: .7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
  }
  
  .header-blue .action-button:hover {
    color: #fff;
  }
  
  .header-blue .navbar .form-inline label {
    color: #d9d9d9;
  }
  
  .header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
  }
  
  .header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
  }
  
  @media (min-width:768px) {
    .header-blue .hero {
      padding-top: 60px;
      padding-bottom: 60px;
      text-align: left;
    }
  }
  
  .header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  @media (min-width:992px) {
    .header-blue .hero h1 {
      margin-top: 190px;
      margin-bottom: 24px;
      line-height: 1.2;
    }
  }
  
  .header-blue .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  
  .header-blue .phone-holder {
    text-align: right;
  }
  
  .header-blue div.iphone-mockup {
    position: relative;
    max-width: 300px;
    margin: 20px;
    display: inline-block;
  }
  
  .header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto;
  }
  
  .header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    /* background: url(../../assets/img/screen-content-iphone-6.jpg); */
    background-size: cover;
    background-position: center;
  }
  
  .header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
  }

  
  /**/
* {
  font-family: "Noto Sans TC","Microsoft JhengHei","Open Sans",sans-serif;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  color: #00A3E8;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: lightgray;
}

.r-table .r-table-header {
  background-color:#ccf0ff;
} 

.r-table .r-table-data {
  background-color: #F4F4F4;
} 


.navbar-light .navbar-text {
  color: black;
}

.main-carousel {
  margin-top: 10px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}